<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>School Management</title>
        <!--<link rel="stylesheet" type="text/css" href="/src_front/assets/style.css">-->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
        <script src="/src_front/js/vueTeacher.js" defer></script>
    </head>
    <body>
      <div id="app" class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Teacher</h1>
                </div>
                
                <form action="#">
                    <div class="form-group">
                        <label for="teacherName">Name(*):</label>
                        <input type="text" name='teacherName' id="teacherName" v-model="teacherName" class="form-control col-md-4" v-bind:class="{'alert-color': !validate }" value='' size="40" placeholder="Please Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="teacherSalary">Salary:</label>
                        <input type="text" name='teacherSalary' id="teacherSalary" class="form-control  col-md-3" v-model="teacherSalary" value='' size="40">
                    </div>
                    <button type="button" v-on:click="doAddTeacher" v-bind:disabled="!isEntered" class="btn btn-primary">Add</button>
                </form>

                <h2>Teacher List</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                            <th class="index">No</th>
                            <th class="name">Name</th>
                            <th class="salary">Salary</th>
                            <th class="delete">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(teacher, index) in computedTeachers">
                                <td class="index">{{ index + 1 }}</td>
                                <td class="name">{{ teacher.name }}</td>
                                <td class="salary">{{ teacher.salary }}</td>
                                <td class="delete">
                                    <button class="btn btn-danger" v-on:click="doDeleteTeacher(teacher)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
      </div>
    </body>
</html>